<div class="product">
    <h3>{{ product.name }}</h3>
    <a href="{{ path('application_dev_default_show', { 'productId' : product.id }) }}">
        {% if product.getFirstImage() %}
            <img src="{{ product.getFirstImage().getWebPath() | apply_filter('grid_medium') }}" alt="" />
        {% else %}
            <img src="{{ asset('images/missing-image.png') }}" />
        {% endif %}
    </a>
    <div class="actions clearfix">
        {{ product.getPricing()['netUnitPrice'] | price_format(store.defaultCurrency) }}
        <a class="btn pull-right" href="{{ path('vespolina_cart_add_product', {'productId': product.id}) }}">Add to Cart</a>
    </div>
</div>