{% extends 'ApplicationDevBundle::layout.html.twig' %}

{% block content %}

    <h1>{{ product.name }}</h1>
    <div class="row-fluid">
        <span class="span11">
            <div id="galleria"></div>
        </span>
        <span class="span1">
            <div class="sharebox">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_32x32_style" style="left:50px;top:50px;">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_compact"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50a269e852517021"></script>
                <!-- AddThis Button END -->
            </div>
        </span>
    </div>
    <div class="row-fluid">
        <span class="span8">
            <p>{{ product.description }}</p>
        </span>
        <span class="span3">
            <div class="cta">
                {{ product.getPricing()['netUnitPrice'] | price_format(store.defaultCurrency) }}
                <a class="btn btn-large pull-right" href="{{ path('vespolina_cart_add_product', { 'productId' : product.id }) }}">Add to basket</a>
            </div>
        </span>
        <span class="1">&nbsp;</span>
    </div>
    <script type="text/javascript" src="{{ asset('bundles/applicationdev/js/galleria/galleria-1.2.8.min.js') }}"></script>
    <script type="text/javascript">
    //<!--
        (function($){
            Galleria.loadTheme('{{ asset('bundles/applicationdev/js/galleria/themes/classic/galleria.classic.min.js') }}');
            var GalleriaImages = [{% for image in product.getImages() %}{% spaceless %}{
                    'image': '{{ image.getWebPath() | apply_filter('show_large') }}',
                    'thumb': '{{ image.getWebPath() | apply_filter('show_thumbnail') }}',
                    'big': '{{ image.getWebPath() }}',
                    'title': '{{ product.name }}'
                }{% if not loop.last %},{% endif %}
            {% endspaceless %}{% endfor %}];
            Galleria.run('#galleria', { dataSource: GalleriaImages, debug: false });
        }(jQuery));
    //-->
    </script>


{% endblock %}